
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
    <TITLE>Bookmarks</TITLE>
    <H1>Bookmarks</H1>
    <DT><H3 ID="rdf%3A#$FvPhC3">Bookmarks Toolbar Folder</H3>

<DL><p>
<DT><A HREF="http://www.livejournal.com/users/_vr_ghost/" ID="rdf%3A#$Rhz9b1">[VR]Ghost's buttertoast.</A>

</DL><p>
<DT><H3 ID="rdf%3A#$ZbLg73">Web</H3>

<DL><p>
<DT><A HREF="http://www.phoenity.com/newtedge/" ID="rdf%3A#$CKV3+">Newt Edge</A>
<DT><A HREF="http://webfx.eae.net/" ID="rdf%3A#$Ebhqe">WebFX - What you never thought possible!</A>
<DT><A HREF="http://www.dhteumeuleu.com/" ID="rdf%3A#$6cLg73">Interactive DOM scripting</A>
<DT><A HREF="http://www.karmatics.com/aardvark/" ID="rdf%3A#$2HqlB2">Aardvark Firefox Extension</A>
<DT><A HREF="http://www.roundcube.net/" ID="rdf%3A#$pXAXw3">RoundCube Webmail Project</A>
<DT><A HREF="http://www.alistapart.com/d/sprites/ala-blobs2.html#" ID="rdf%3A#$FQrf1">CSS Sprites: Image Slicing's Kiss of Death</A>
<DT><A HREF="http://www.phoenity.com/newtedge/" ID="rdf%3A#$4n3.A2">Newt Edge</A>
<DT><A HREF="http://www.dynamicdrive.com/" ID="rdf%3A#$DW9oA3">Dynamic Drive DHTML(dynamic html) & JavaScript code library</A>
<DD>Click here for Dynamicdrive.com, a comprehensive DHTML site featuring DHTML scripts, tutorials, and more.

</DL><p>
<DT><H3 ID="rdf%3A#$0cLg73">Programming</H3>

<DL><p>
<DT><A HREF="http://www.regular-expressions.info/" ID="rdf%3A#$IrTaJ1">Regular-Expressions.info - Regex Tutorial, Examples and Reference - Regexp Patterns</A>
<DT><A HREF="http://www.htdp.org/" ID="rdf%3A#$wqcNE1">How to Design Programs</A>
<DT><A HREF="http://www.nist.gov/dads/" ID="rdf%3A#$xqcNE1">Dictionary of Algorithms and Data Structures</A>
<DT><A HREF="http://www.freeprogrammingresources.com/" ID="rdf%3A#$Zdoa41">Free Programming Resources - freeprogrammingresources.com</A>
<DT><A HREF="http://www.reciprocality.org/Reciprocality/r0/" ID="rdf%3A#$HQrf1">The Programmers Stone</A>
<DT><A HREF="http://www.research.ibm.com/ponder/" ID="rdf%3A#$DdIuS3">IBM Research | Ponder This</A>
<DT><A HREF="http://codingstyle.com/" ID="rdf%3A#$GdIuS3">Codingstyle.com :: What's Your Style?</A>
<DT><A HREF="http://www.eli.sdsu.edu/courses/fall98/cs596/notes/regexp/regexp.html" ID="rdf%3A#$Weun23">CS596: Doc 23, Java Regular Expressions</A>
<DT><A HREF="http://java.sun.com/j2se/1.4.2/docs/api/" ID="rdf%3A#$y69.q3">Java 2 Platform SE v1.4.2</A>
<DT><A HREF="http://www.maththinking.com/boat/booksIndex.html" ID="rdf%3A#$eUMi1">Ju Rao's Homepage: Free Computer Books</A>
<DT><A HREF="http://tiger.la.asu.edu/quick_reference_card.htm" ID="rdf%3A#$Z7t3+">Useful Links to ASU sites</A>
<DT><A HREF="http://www.crazygrrl.com/weav/reference.php3" ID="rdf%3A#$NlKF5">Regular Expressions Reference Sheet</A>
<DT><A HREF="http://www.cs.dartmouth.edu/~brd/Teaching/AI/Lectures/Summaries/search.html" ID="rdf%3A#$tg.Cn1">Search Methods</A>
<DT><A HREF="http://mrl.nyu.edu/~perlin/" ID="rdf%3A#$yx4Ir1">Ken Perlin's homepage</A>

</DL><p>
<DT><H3 ID="rdf%3A#$JehyO1">Programs</H3>

<DL><p>
<DT><H3 ID="rdf%3A#$6XAu2">File Servers</H3>

<DL><p>
<DT><A HREF="http://www.snapfiles.com/help/missingfiles.html" ID="rdf%3A#$CsFtG1">Missing Files download MFC42.DLL, WNASPI.DLL, COMDLG32.OCX, WS_32.DLL, VB Runtimes and many others from SnapFiles</A>
<DD>Missing Files download MFC42.DLL, COMDLG32.OCX, WS_32.DLL, VB  Runtimes and many others.
<DT><A HREF="http://www.ventrella.com/GenePool/gene_pool.html" ID="rdf%3A#$EdIuS3">Gene Pool</A>
<DT><A HREF="http://www.password-crackers.com/" ID="rdf%3A#$RsfL61">Russian Password Crackers: fastest, tested password recovery utilities</A>
<DD>Fastest, tested, mostly free password crackers. With benchmarks, FAQ, tips, weakness reasons
<DT><A HREF="http://www.cacti.net/" ID="rdf%3A#$k13x73">Cacti: The Complete RRDTool-based Graphing Solution</A>
<DT><A HREF="http://rumkin.com/tools/cipher/" ID="rdf%3A#$ij1dj">Cipher Tools</A>
<DT><A HREF="http://www.cis.upenn.edu/~bcpierce/unison/" ID="rdf%3A#$AK.Ts">Unison File Synchronizer</A>
<DT><A HREF="http://palmz.in/board/" ID="rdf%3A#$Q.7jB2">PALMZ</A>

</DL><p>
<DT><H3 ID="rdf%3A#$9XAu2">Mans</H3>

<DL><p>
<DT><A HREF="http://drumlin.thehutt.org/vi/" ID="rdf%3A#$RVIRd2">VI reference manual</A>
<DT><A HREF="http://gug.sunsite.dk/?page=tutorials2" ID="rdf%3A#$g3EmA3">gimp tecnicques</A>
<DT><A HREF="http://www.rayninfo.co.uk/vimtips.html" ID="rdf%3A#$EW9oA3">Best of VIM Tips, gVIM's Key Features</A>

</DL><p>
<DT><H3 ID="rdf%3A#$8XAu2">Web Progs</H3>

<DL><p>
<DT><A HREF="http://www.webcalc.net/menu.php" ID="rdf%3A#$SsFtG1">WebCalc Calculator Menu</A>
<DD>Webcalc is the best place to find all of your calculating needs in one place

</DL><p>
<DT><A HREF="http://www.miwie.org/presentations/presentations.html" ID="rdf%3A#$aHrTI1">Screen Presentation Tools</A>
<DT><A HREF="https://lg3d.dev.java.net/" ID="rdf%3A#$533x73">lg3d: Project Looking Glass</A>
<DT><A HREF="http://pyxml.sourceforge.net/topics/xbel/" ID="rdf%3A#$RnfL61">The XML Bookmark Exchange Language Resource Page</A>
<DT><A HREF="http://www.ii.uib.no/~arntzen/kalender/" ID="rdf%3A#$i0hql2">12 sided calendar</A>

</DL><p>
<DT><H3 ID="rdf%3A#$2cLg73">Science</H3>

<DL><p>
<DT><H3 ID="rdf%3A#$+bLg73">Bio</H3>

<DL><p>
<DT><A HREF="http://stemcells.nih.gov/info/basics/basics1.asp" ID="rdf%3A#$jaXki3">Stem Cell Basics: Introduction [Stem Cell Information]</A>
<DT><A HREF="http://www.dnahack.com/" ID="rdf%3A#$kaXki3">DNA Hack</A>
<DT><A HREF="http://www.becominghuman.org/" ID="rdf%3A#$AUdTV3">Becoming Human: Paleoanthropology, Evolution and Human Origins</A>
<DT><A HREF="http://www.stfx.ca/people/edemont/biomechanics-lab.html" ID="rdf%3A#$2.vlS">Comparative Biomechanics Research Laboratory</A>
<DT><A HREF="http://www.uoregon.edu/~karduna/biomechanics/bme.htm" ID="rdf%3A#$F3MhL1">Bioengineering</A>
<DT><A HREF="http://www.myfishbox.com/" ID="rdf%3A#$Eq3fl1">My Fish Box - For freshwater, saltwater, planted and fish aquarium hobbyists and enthusiasts!</A>
<DT><A HREF="http://www.ornl.gov/sci/techresources/Human_Genome/genetics.shtml" ID="rdf%3A#$ceoa41">Genetics Virtual Library</A>
<DT><A HREF="http://tolweb.org/tree/phylogeny.html" ID="rdf%3A#$M3Hgp">Tree of Life Web Project Home</A>
<DT><A HREF="http://www.bioconductor.org/whatisit/screenshots/" ID="rdf%3A#$nv8sI3">Screenshots and Graphics — bioconductor.org</A>
<DT><A HREF="http://www.dnai.org/index.htm" ID="rdf%3A#$AqdBS1">DNA Interactive</A>
<DT><A HREF="http://www.yourgenome.org/" ID="rdf%3A#$6HPre1">YourGenome.org</A>
<DT><A HREF="http://nootropics.com/mood/" ID="rdf%3A#$uSrf1">Health research : mood and intellectual performance</A>
<DT><A HREF="http://bioinformatics.oxfordjournals.org/" ID="rdf%3A#$IdIuS3">Oxford Journals | Life Sciences | Bioinformatics</A>
<DT><A HREF="http://thalamus.wustl.edu/course/" ID="rdf%3A#$3n3.A2">The W.U.S.M. Neuroscience Tutorial</A>
<DT><A HREF="http://www.conservation.state.mo.us/nathis/mushrooms/mushroom/" ID="rdf%3A#$FI3vv3">Edible and Poisonous Mushrooms</A>
<DT><A HREF="http://www.exploratorium.edu/imaging_station/gallery_intro.html" ID="rdf%3A#$jz3vv3">Microscope Imaging Station: Gallery</A>
<DT><A HREF="http://www.gcarlson.com/" ID="rdf%3A#$Xme973">Gary Carlson: 3D - Illustration - Animation / Medical and Biological</A>
<DD>Contemporary medical and biotechnical illustration and
animation for advertising and publishing.
<DT><A HREF="http://www.epa.gov/nerlcwww/" ID="rdf%3A#$fgyEH1">EPA Microbiology Home Page</A>
<DD>This is the main page of the EPA Microbiology website - the EPA Microbiology Home Page. The purpose of this site is to
        provide access to microbiology related information that has been developed or managed by the Agency.
<DT><A HREF="http://animaldiversity.ummz.umich.edu/site/" ID="rdf%3A#$BgyEH1">Animal Diversity Web</A>
<DT><A HREF="http://www.doegenomes.org/" ID="rdf%3A#$ojtM5">DOEgenomes.org--genome programs of the U.S. Department of Energy</A>
<DD>Site of the U.S. Human Genome Project, Genomics:GTL Program, and Microbial Genome Program--all sponsored by the U.S. Department of Energy Genome Programs.
<DT><A HREF="http://www.sanibelcaptiva.org/seashells/seashellidentificationguide.htm" ID="rdf%3A#$ITmM41">Seashell identification guide</A>

</DL><p>
<DT><H3 ID="rdf%3A#$.bLg73">Space</H3>

<DL><p>
<DT><A HREF="http://setiathome.ssl.berkeley.edu/" ID="rdf%3A#$zUdTV3">Seti@home</A>
<DT><A HREF="http://www.spaceflightnow.com/" ID="rdf%3A#$DKV3+">Spaceflight Now</A>
<DT><A HREF="http://micro.magnet.fsu.edu/primer/java/scienceopticsu/powersof10/" ID="rdf%3A#$BBIZW2">Molecular Expressions: Science, Optics and You - Secret Worlds: The Universe Within - Interactive Java Tutorial</A>
<DT><A HREF="http://heritage.stsci.edu/gallery/gallery.html" ID="rdf%3A#$apmp7">Hubble Heritage Gallery of Images</A>
<DT><A HREF="http://www.aip.de/groups/galaxies/sw/udf/swudfV1.0.html" ID="rdf%3A#$AI3vv3">UDF SkyWalker V1.0</A>
<DT><A HREF="http://www.fourmilab.ch/earthview/satellite.html" ID="rdf%3A#$yXw4C1">View from Satellite</A>
<DD>Earth and Moon Viewer: View from Satellite
<DT><A HREF="http://spaceweather.com/glossary/inspire.html" ID="rdf%3A#$p1aoA3">NASA online VLF receiver</A>

</DL><p>
<DT><H3 ID="rdf%3A#$BYCY52">Philosophy</H3>

<DL><p>
<DT><A HREF="http://www.btinternet.com/~glynhughes/squashed/" ID="rdf%3A#$uYCY52">Squashed Philosophers- Condensed Plato Aristotle Augustine Descartes Hume Marx Freud Copernicus Hobbes Sartre Ayer Sade Wittgenstein Einstein</A>
<DT><A HREF="http://www.quotegarden.com/philosophical.html" ID="rdf%3A#$GYCY52">Philosophical Quotes</A>
<DT><A HREF="http://members.aol.com/lshauser/phlcomix.html" ID="rdf%3A#$HYCY52">PHILOSOPHY COMIX</A>
<DT><A HREF="http://www.nokama.com/tao/index.cfm?fuseaction=main" ID="rdf%3A#$JYCY52">Lao Tsu's Tao Te Ching Online</A>
<DT><A HREF="http://plato.stanford.edu/entries/existence/" ID="rdf%3A#$M2WVh2">Existence</A>
<DT><A HREF="http://www.avenaim.com/gallery/" ID="rdf%3A#$iWwKd">Jerry Avenaim Photography :: Fine Art Galleries</A>
<DT><A HREF="http://www.philosophersguild.com/index.lasso?page_mode=Home" ID="rdf%3A#$i.vlS">Unemployed Philosophers Guild Home</A>
<DT><A HREF="http://plato.stanford.edu/entries/nietzsche/" ID="rdf%3A#$DqdBS1">Friedrich Nietzsche</A>
<DT><A HREF="http://www.spaceandmotion.com/Philosophy-Friedrich-Nietzsche-Philosopher.htm" ID="rdf%3A#$uSSYM1">Friedrich Nietzsche Philosophy: Discussion of Quotes Postmodern Philosopher Friedrich Nietzsche</A>
<DT><A HREF="http://www.bu.edu/wcp/PaidArch.html" ID="rdf%3A#$IQrf1">The Paideia Project ON-LINE: Archive Sections</A>
<DT><A HREF="http://www.gutenberg.org/catalog/" ID="rdf%3A#$5n3.A2">Online Book Catalog - Overview - Project Gutenberg</A>

</DL><p>
<DT><H3 ID="rdf%3A#$DYCY52">Physics</H3>

<DL><p>
<DT><A HREF="http://www.micro.magnet.fsu.edu/primer/java/scienceopticsu/powersof10/" ID="rdf%3A#$rYCY52">Molecular Expressions: Science, Optics and You - Secret Worlds: The Universe Within - Interactive Java Tutorial</A>
<DT><A HREF="http://particleadventure.org/particleadventure/" ID="rdf%3A#$zCVe+2">The Particle Adventure</A>
<DT><A HREF="http://energy.org.ru/" ID="rdf%3A#$xCVe+2">Energy.org.ru</A>
<DT><A HREF="http://adswww.harvard.edu/" ID="rdf%3A#$hiELw3">NASA ADS: ADS Home Page</A>
<DT><A HREF="http://pdg.lbl.gov/quarkdance/" ID="rdf%3A#$yCVe+2">QuarkDance.org</A>
<DT><A HREF="http://www.physlink.com/" ID="rdf%3A#$TeNeY3">Physics and Astronomy - PhysLink.com</A>
<DT><A HREF="http://livefromcern.web.cern.ch/livefromcern/antimatter/" ID="rdf%3A#$AJVax1">Antimatter:Mirror of the Universe</A>
<DT><A HREF="http://www.merkle.com/papers/FAZ000911.html" ID="rdf%3A#$CUdTV3">Nanotechnology is coming</A>
<DT><A HREF="http://www.unitednuclear.com/supplies.htm" ID="rdf%3A#$Cq3fl1">United Nuclear - Scientific Supplies</A>
<DT><A HREF="http://www.lbl.gov/abc/" ID="rdf%3A#$lcLg73">The ABC's of Nuclear Science</A>
<DT><A HREF="http://adswww.harvard.edu/" ID="rdf%3A#$FAKdz2">NASA ADS: ADS Home Page</A>
<DT><A HREF="http://www.math.ucr.edu/home/baez/physics/Quantum/casimir.html" ID="rdf%3A#$kKNlv3">The Casimir Effect</A>
<DT><A HREF="http://www.hawking.org.uk/home/hindex.html" ID="rdf%3A#$cMwXV2">Stephen Hawking</A>
<DT><A HREF="http://www.foresight.org/Nanosystems/" ID="rdf%3A#$ZLwXV2">Nanosystems</A>
<DT><A HREF="http://spaceweather.com/glossary/inspire.html" ID="rdf%3A#$mXAXw3">NASA online VLF receiver</A>
<DT><A HREF="http://www.upscale.utoronto.ca/GeneralInterest/Harrison/Flash/#chaos" ID="rdf%3A#$oXAXw3">Physics Flash Animations</A>
<DT><A HREF="http://www.nano.gov/" ID="rdf%3A#$gFqlB2">National Nanotechnology Initiative</A>
<DT><A HREF="http://library.sau.edu/bestinfo/Majors/Physics/phyindex.htm" ID="rdf%3A#$1HqlB2">O'Keefe Library-Best Information on the Net - Physics Resources</A>
<DT><A HREF="http://britneyspears.ac/lasers.htm" ID="rdf%3A#$DI3vv3">Britney Spears guide to Semiconductor Physics: semiconductor physics, Edge Emitting Lasers and VCSELs</A>
<DT><A HREF="http://bethe.cornell.edu/video1_large.html" ID="rdf%3A#$VeyEH1">Hans Bethe: Quantum Theory Made Relatively Simple</A>
<DT><A HREF="http://www.lbl.gov/abc/" ID="rdf%3A#$zgyEH1">The ABC's of Nuclear Science</A>
<DT><A HREF="http://bethe.cornell.edu/" ID="rdf%3A#$oaDOG">Personal and Historical Perspectives of Hans Bethe</A>

</DL><p>
<DT><H3 ID="rdf%3A#$yNJql3">Math</H3>

<DL><p>
<DT><A HREF="http://douweosinga.com/projects/artificiallife" ID="rdf%3A#$9HrTI1">Artificial Life</A>
<DT><A HREF="http://www.calculator.com/" ID="rdf%3A#$edxqt1">calculator.com - Online mortgage math loan finance scientific health & sports calculators</A>
<DT><A HREF="http://www.math.miami.edu/~ec/book/" ID="rdf%3A#$hdxqt1">Elements of Abstract and Linear Algebra by Edwin H. Connell</A>
<DT><A HREF="http://www.numberspiral.com/p/p006.html" ID="rdf%3A#$UeNeY3">NumberSpiral.com -- Page 6</A>
<DT><A HREF="http://www.bluebit.gr/matrix-calculator/" ID="rdf%3A#$w4A92">Online Matrix Calculator</A>
<DT><A HREF="http://pgap.chat.ru/zap/zap131.htm" ID="rdf%3A#$93b8O1">Дискретная математика - Раздел 1. Математическая логика - Тема 3. Логика предикатов - §1. Предикаты и операции над ними</A>
<DT><A HREF="http://arbuz.uz/" ID="rdf%3A#$vCVe+2">АРБУЗ - занимательный мир - главная страница</A>
<DT><A HREF="http://www.phy.syr.edu/courses/modules/MM/n_net/n_net.html" ID="rdf%3A#$Cbhqe">Mind and Machine : Neural networks</A>
<DT><A HREF="http://www.stonehill.edu/compsci/History_Math/math-read.htm" ID="rdf%3A#$E3MhL1">How to Read Mathematics</A>
<DT><A HREF="http://order.ph.utexas.edu/chaos/" ID="rdf%3A#$G3MhL1">What is Chaos? An Interactive Online Course for Everyone</A>
<DT><A HREF="http://www.garykessler.net/library/crypto.html" ID="rdf%3A#$iaXki3">An Overview of Cryptography</A>
<DT><A HREF="http://axion.physics.ubc.ca/crypt.html" ID="rdf%3A#$Fq3fl1">Cryptography</A>
<DT><A HREF="http://www.ics.uci.edu/~eppstein/recmath.html" ID="rdf%3A#$3.vlS">David Eppstein</A>
<DT><A HREF="http://www.hypertextbook.com/chaos/" ID="rdf%3A#$P3AoJ1">The Chaos Hypertextbook™</A>
<DT><A HREF="http://www.webcalc.net/index.php" ID="rdf%3A#$yqcNE1">WebCalc Calculators</A>
<DT><A HREF="http://hemsidor.torget.se/users/m/mauritz/math/alg/" ID="rdf%3A#$AqcNE1">Torget</A>
<DT><A HREF="http://www.cacr.math.uwaterloo.ca/hac/" ID="rdf%3A#$7QNgX1">Handbook of Applied Cryptography</A>
<DT><A HREF="http://www.ciphersbyritter.com/" ID="rdf%3A#$piVeY1">Ciphers By Ritter: Cryptography and Technology</A>
<DT><A HREF="http://www.garykessler.net/library/crypto.html" ID="rdf%3A#$VwR1C">An Overview of Cryptography</A>
<DT><A HREF="http://mathworld.wolfram.com/" ID="rdf%3A#$nKQH13">MathWorld</A>
<DT><A HREF="http://www.theory.org/fracdyn/" ID="rdf%3A#$FjNbp3">Theory.org Fractals/Dynamics Projects</A>
<DT><A HREF="http://www.earlham.edu/~peters/courses/logsys/nonstbib.htm#fuzzy" ID="rdf%3A#$a59J81">Peter Suber, "Non-Standard Logics"</A>
<DT><A HREF="http://www.timetoeternity.com/time_space_light/prime_time.htm" ID="rdf%3A#$AgyEH1">Prime Time - Mathematicians have tried in vain to this day to discover some oreder inthe sequence of prime numbers...</A>

</DL><p>
<DT><A HREF="http://futurefeeder.com/" ID="rdf%3A#$Gq3fl1">Future Feeder</A>
<DT><A HREF="http://www.popsci.com/popsci/" ID="rdf%3A#$IYCY52">Popular Science</A>
<DT><A HREF="http://deoxy.org/inc2.htm" ID="rdf%3A#$tj3wB2">Ong's Hat: Gateway to the Dimensions!</A>
<DT><A HREF="http://ezhe.ru/ib/" ID="rdf%3A#$wCVe+2">ИНФОРМАЦИОННЫЙ БУМ :: ОГЛАВЛЕНИЕ</A>
<DT><A HREF="http://www.theteashop.com/prepare.htm" ID="rdf%3A#$wUdTV3">Preparation</A>
<DT><A HREF="http://www.sciencentral.com/" ID="rdf%3A#$EAKdz2">ScienCentral: Making Sense of Science</A>
<DT><A HREF="http://www.ai.mit.edu/projects/ants/" ID="rdf%3A#$vqcNE1">Retired Robots - The Ants</A>
<DT><A HREF="http://www.imm.org/Parts/" ID="rdf%3A#$Ro+UD2">Simple Molecular Machine Parts</A>
<DT><A HREF="http://asb-biomech.org/" ID="rdf%3A#$BqdBS1">American Society of Biomechanics</A>
<DT><A HREF="http://www.falstad.com/mathphysics.html" ID="rdf%3A#$mv8sI3">Math, Physics, and Engineering Applets</A>
<DT><A HREF="http://en.wikipedia.org/wiki/Main_Page" ID="rdf%3A#$ztbcI2">Main Page - Wikipedia, the free encyclopedia</A>
<DT><A HREF="http://www.boosting.org/" ID="rdf%3A#$ov8sI3">Boosting Research Site: Boosting.org</A>
<DT><A HREF="http://www.pbs.org/wgbh/nova/elegant/program.html" ID="rdf%3A#$6PCA43">NOVA | The Elegant Universe | Watch the Program | PBS</A>
<DT><A HREF="http://www.thebulletin.org/article.php?art_ofn=mj97ilnitsky" ID="rdf%3A#$zqcNE1">Mysteries under Moscow | thebulletin.org</A>
<DT><A HREF="http://www.moller.com/aerobot/" ID="rdf%3A#$qzzOo3">Aerobotics</A>
<DT><A HREF="http://www.proza.com.ua/sounds/psychosound_4cfd.shtml" ID="rdf%3A#$F7bT32">Psyho</A>
<DT><A HREF="http://simplethinking.com/home/nuclear_weapons.htm" ID="rdf%3A#$ay3vv3">Nuclear Weapons - basic technology concepts [UNC]</A>
<DT><A HREF="http://www.plos.org/" ID="rdf%3A#$chm7I1">Public Library of Science</A>
<DT><A HREF="http://www.zyvex.com/nano/" ID="rdf%3A#$JQrf1">Nanotechnology</A>
<DT><A HREF="http://www.newscientist.com/article.ns?id=dn4406" ID="rdf%3A#$HdIuS3">New Scientist Breaking News - Nano-transistor self-assembles using biology</A>
<DT><A HREF="http://www.singinst.org/" ID="rdf%3A#$JdIuS3">Singularity Institute for Artificial Intelligence</A>
<DT><A HREF="http://www.blifaloo.com/info/lies_eyes.php" ID="rdf%3A#$EI3vv3">Eye Movement and Lying - How to detect lies</A>
<DT><A HREF="http://www.stephenjaygould.org/" ID="rdf%3A#$30aoA3">The Unofficial Stephen Jay Gould Archive</A>

</DL><p>
<DT><H3 ID="rdf%3A#$+7t3+">Developing</H3>

<DL><p>
<DT><A HREF="http://miraduga.com/cgi-bin/Miraduga/engine.cgi" ID="rdf%3A#$K9Jwd">..::Мирадуга::..</A>
<DT><A HREF="http://www.nihongoresources.com/" ID="rdf%3A#$+Vadt1">Welcome to the Nihongo Resources website!</A>

</DL><p>
<DT><H3 ID="rdf%3A#$yYCY52">Photography</H3>

<DL><p>
<DT><A HREF="http://www.kleptography.com/" ID="rdf%3A#$wYCY52">Kleptography - Don Ellis Photography</A>
<DT><A HREF="http://www.kennethparker.com/" ID="rdf%3A#$+d02Z3">Kenneth Parker Photography___________________________________________________________________________________________________________________________________Ken Parker, photographer, Photography, photographs, nature photography, landscape photography, color photographs, view camera, large format, salon print, archival print, fine art, fine-art, colour, photography is art, photographic, travel photography</A>
<DT><A HREF="http://www.photo.net/gallery/photocritique/filter" ID="rdf%3A#$VUWQF3">Photos from Last 3 Days Ranked by Rate Recent Avg (Updated Sun Sep 25 05:18)</A>
<DT><A HREF="http://www.stevemccurry.com/gallery.html" ID="rdf%3A#$fdxqt1">Steve McCurry > Galleries</A>
<DT><A HREF="http://www.durhamtownship.com/May2305.html" ID="rdf%3A#$mdxqt1">A Walk Through Durham Township -- Photography by Kathleen Connally</A>
<DT><A HREF="http://www.wild-landscape.com/galery/a_gal_66/cechy/galcechy.html" ID="rdf%3A#$xDtmL2">Czech Republic Photo Gallery - Medium Format Landscape Photography</A>
<DT><A HREF="http://www.chrisjordan.com/" ID="rdf%3A#$2a01u">chris jordan photography</A>
<DT><A HREF="http://www.parkeharrison.com/slideshows/gallery/" ID="rdf%3A#$TFLxg1">Robert & Shana ParkeHarrison</A>
<DT><A HREF="http://www.ejphoto.com/kauai_page.htm" ID="rdf%3A#$R2hqe">Kauai Page</A>
<DT><A HREF="http://hirmes.com/ice/index.html?forms?6" ID="rdf%3A#$DbgUi">hirmes.com - ice photographs - forms - 6</A>
<DT><A HREF="http://www.photon-echoes.com/" ID="rdf%3A#$tNJql3">Photon Echoes Homepage - Photography by Lauri Kangas</A>
<DT><A HREF="http://www.altphotos.com/Gallery.aspx?a=Photo&photoid=54804" ID="rdf%3A#$uNJql3">ALTphotos.com photography community [photographers, photographs, photos, prints, pinhole, polaroid, rangefinder, instamatic, toy, view camera]</A>
<DT><A HREF="http://hubblesite.org/gallery/" ID="rdf%3A#$Dbhqe">HubbleSite - Gallery</A>
<DT><A HREF="http://www.its.caltech.edu/~atomic/snowcrystals/photos/photos.htm" ID="rdf%3A#$FYCY52">Snowflake and Snow Crystal Photos</A>
<DT><A HREF="http://scotthaefner.com/kap/" ID="rdf%3A#$dBYGM">Kite Aerial Photography by Scott Haefner | Home Page</A>
<DT><A HREF="http://www.petebevin.com/kittens/" ID="rdf%3A#$Dq3fl1">Kittens</A>
<DT><A HREF="http://yerka.org.ru/" ID="rdf%3A#$P2hqe">Мир Яцека Йерки - Главная - Home - Art of Jacek Yerka</A>
<DT><A HREF="http://www.boring3d.com/daily/2003-03.htm" ID="rdf%3A#$FKV3+">Mar 2003</A>
<DT><A HREF="http://www.art-dept.com/photo/" ID="rdf%3A#$EKV3+">Art Department Photography</A>
<DT><A HREF="http://www.loc.gov/exhibits/empire/" ID="rdf%3A#$Q3AoJ1">The Empire That Was Russia: The Prokudin-Gorskii Photographic Record Recreated (A Library of Congress Exhibition)</A>
<DT><A HREF="http://www.pbase.com/pitsaman/my_favorites" ID="rdf%3A#$Ydoa41">my_favorites Photo Gallery by Kosta Trimovski - Pitsaman at pbase.com</A>
<DT><A HREF="http://www.exploratorium.edu/imaging_station/index.html" ID="rdf%3A#$Zh.Md1">Microscope Imaging Station: Home</A>
<DT><A HREF="http://www.durhamtownship.com/portfolio/" ID="rdf%3A#$CqdBS1">DurhamPortfolio - Photography by Kathleen Connally</A>
<DT><A HREF="http://www.toddadams.net/images/wallpaper/" ID="rdf%3A#$lKNlv3">Todd Adams Photography | Free Wallpaper</A>
<DT><A HREF="http://www.fractal-recursions.com/anim.html" ID="rdf%3A#$3.xtL2">Fractal Animations</A>
<DT><A HREF="http://www.caine.com/land.asp" ID="rdf%3A#$E7bT32">: : ::: BRIAN CAINE : PHOTOGRAPHY ::: : :</A>
<DT><A HREF="http://www.gilbert-garcin.com/index.htm" ID="rdf%3A#$GQrf1">Gilbert Garcin - Artiste Photographe - Marseille</A>
<DT><A HREF="http://pics.livejournal.com/loveischemicals/gallery/00003erx" ID="rdf%3A#$FdIuS3">gallery: My Pictures</A>
<DT><A HREF="http://www.chris.com/index.asp" ID="rdf%3A#$EXIRd2">chris.com - Christopher Johnson</A>
<DT><A HREF="http://photobucket.com/" ID="rdf%3A#$5LqTr3">Photobucket.com Free Image Hosting - Online Photo Albums - Photo Sharing</A>
<DT><A HREF="http://wvs.topleftpixel.com/archives/photos_landscape/051031_1348.shtml" ID="rdf%3A#$liVeY1">[daily dose of imagery] pumpkin field</A>
<DT><A HREF="http://www.astroarts.co.jp/hoshinavi/magazine/sora/index-j.html" ID="rdf%3A#$m0L9u">星ナビ.com</A>
<DT><A HREF="http://www.eyetricks.com/3dstereo83.htm" ID="rdf%3A#$njtM5">3D Stereograms - Brought to you by eyetricks.com.</A>
<DD>eyetricks.com provides a wide selection of online optical illusions and other mind teasing oddities.

</DL><p>
<DT><H3 ID="rdf%3A#$j.vlS">Humor</H3>

<DL><p>
<DT><A HREF="http://www.karmamachine.com/" ID="rdf%3A#$7HrTI1">KarmaMachine</A>
<DT><A HREF="http://www.malevole.com/mv/misc/killerquiz/" ID="rdf%3A#$ONxuo2">malevole - Programming Language Inventor or Serial Killer?</A>
<DT><A HREF="http://www.murphys-laws.com/murphy/murphy-technology.html" ID="rdf%3A#$zJVax1">Murphy Laws Site - Technology Laws</A>
<DT><A HREF="http://www.gnu.org/fun/jokes/quotations.html" ID="rdf%3A#$xUdTV3">Quotations - GNU Project - Free Software Foundation (FSF)</A>
<DT><A HREF="http://rescomp.stanford.edu/~cheshire/EinsteinQuotes.html" ID="rdf%3A#$yUdTV3">Collected Quotes from Albert Einstein</A>
<DT><A HREF="http://www.zubr.net/" ID="rdf%3A#$WgZgq2">Новости / Фильтрованный юмор в письмах из сети Фидо</A>
<DT><A HREF="http://kid.stu.cn.ua/~rd/bofh/index.html" ID="rdf%3A#$rhZgq2">Чертов Ублюдок Оператор</A>
<DT><A HREF="http://humour.sysadminday.com.ru/" ID="rdf%3A#$qhZgq2">Компьютерный Юмор: Юмор Сисадмина</A>
<DT><A HREF="http://www.rinkworks.com/stupid/cs_calls.shtml" ID="rdf%3A#$WUWQF3">Computer Stupidities: Calls From Hell</A>
<DT><A HREF="http://www.re-date.com/index.php" ID="rdf%3A#$VLiXs1">Redate: The Creative Anniversary Calculator</A>
<DT><A HREF="http://sfbayarea.craigslist.org/about/best/sfo/66795671.html" ID="rdf%3A#$DAKdz2">Why Geeks and Nerds Are Worth It...</A>
<DT><A HREF="http://www.dhmo.org/facts.html" ID="rdf%3A#$YH5gT2">Facts About Dihydrogen Monoxide</A>
<DT><A HREF="http://funny2.com/homer.htm" ID="rdf%3A#$N3Hgp">Homer Simpson's Words of Wisdom</A>
<DT><A HREF="http://www.bordergatewayprotocol.net/jon/humor/internet_history/" ID="rdf%3A#$keLW92">The Lemon: History Of The Internet</A>
<DT><A HREF="http://hanson.gmu.edu/wildideas.html" ID="rdf%3A#$uj3wB2">14 Wild Ideas</A>
<DT><A HREF="http://www.tobp.com/humor/systems.shtml" ID="rdf%3A#$fFqlB2">TOBP Humor - If Operating Systems Were Beers</A>
<DT><A HREF="http://shipilov.com/link.html" ID="rdf%3A#$ycTUJ1">Настоящая ссылка подтверждает</A>
<DT><A HREF="http://www.zedtoo.demon.co.uk/humour/" ID="rdf%3A#$lXAXw3">Net humour: Index</A>
<DT><A HREF="http://strangeplaces.net/weirdthings/analogies.html" ID="rdf%3A#$kXAXw3">worst analogies ever written in a high school essay</A>
<DT><A HREF="http://www.googleityoumoron.com/" ID="rdf%3A#$CXIRd2">Google It You Moron.</A>
<DT><A HREF="http://www.comeclean.com/" ID="rdf%3A#$hiVeY1">Come Clean</A>
<DT><A HREF="http://www.scrolllock.nl/" ID="rdf%3A#$jiVeY1">Hello... I'm sorry.. I like you!</A>
<DT><A HREF="http://engrish.com/recent.php" ID="rdf%3A#$iiVeY1">Recent Discoveries | Index</A>
<DT><A HREF="http://www.chm.bris.ac.uk/sillymolecules/sillymols.htm" ID="rdf%3A#$jW4sX1">Molecules with Silly or Unusual Names</A>
<DT><A HREF="http://www.sysprog.net/quotcube.html" ID="rdf%3A#$GI3vv3">Quotes for Cube Dwellers</A>
<DT><A HREF="http://people.freenet.de/schnubelken/bunnys/" ID="rdf%3A#$Ztf0t2">Bunny suicides</A>
<DT><A HREF="http://funny2.com/homer.htm" ID="rdf%3A#$RsFtG1">Homer Simpson's Words of Wisdom</A>
<DT><A HREF="http://www.netscrap.com/netscrap_detail.cfm?scrap_id=831" ID="rdf%3A#$TsFtG1">NetScrap(TM): 1999 Darwin Awards</A>
<DT><A HREF="http://www.venganza.org/" ID="rdf%3A#$YLF+l3">Open Letter - Intelligent Design</A>
<DT><A HREF="http://www.koreus.com/files/200406/paperwars.html" ID="rdf%3A#$DEd7p3">Paper Wars</A>
<DD>Animation jeux flash un élève rêve en cours et dessine une bande dessinée : Paper Wars créé par Ed Skudder (gratuit)
<DT><A HREF="http://www.towelday.kojv.net/" ID="rdf%3A#$Uy4Ir1">Towel Day :: A tribute to Douglas Adams (1952-2001)</A>

</DL><p>
<DT><H3 ID="rdf%3A#$3cLg73">Catalogs</H3>

<DL><p>
<DT><A HREF="http://wikimedia.org/" ID="rdf%3A#$ndxqt1">Wikimedia Foundation, Inc.</A>
<DT><A HREF="http://www.howstuffworks.com/" ID="rdf%3A#$1e02Z3">HowStuffWorks - Learn how Everything Works!</A>
<DT><A HREF="http://www.cherski.ru/" ID="rdf%3A#$UAKdz2">Случайный дневник :</A>
<DT><A HREF="http://labs.google.com/" ID="rdf%3A#$k9Yla2">Google Labs</A>
<DT><A HREF="http://labs.google.com/sets?hl=en&q1=photography&q2=linux&q3=network&q4=physics&q5=&btn=Large+Set" ID="rdf%3A#$3X9u03">Google Sets</A>
<DT><A HREF="http://www.eduref.org/Virtual/Lessons/index.shtml" ID="rdf%3A#$Cwd7p3">The Educator's Reference Desk: Lesson Plans</A>
<DT><A HREF="http://www.research.att.com/~njas/sequences/" ID="rdf%3A#$Dwd7p3">On-Line Encyclopedia of Integer Sequences (Look-Up)</A>
<DT><A HREF="http://highwire.stanford.edu/" ID="rdf%3A#$Ewd7p3">HighWire Press</A>
<DT><H3 ID="rdf%3A#$aXAu2">BT</H3>

<DL><p>
<DT><A HREF="http://www.btbot.com/" ID="rdf%3A#$zXw4C1">BTbot - BitTorrent Search Engine</A>
<DD>BTbot is a full automatic BitTorrent search engine that automatically crawls the web for sites containing links to BitTorrent files.

</DL><p>

</DL><p>
<DT><H3 ID="rdf%3A#$.7t3+">Hard</H3>

<DL><p>
<DT><A HREF="http://www.usbwifi.orcon.net.nz/" ID="rdf%3A#$CI3vv3">http://www.usbwifi.orcon.net.nz/</A>
<DT><H3 ID="rdf%3A#$IehyO1">Robots</H3>

<DL><p>
<DT><A HREF="http://www.competition-robotics.com/" ID="rdf%3A#$PgItF1">Competition Robotics</A>
<DT><A HREF="http://www.lextronic.fr/Robotique/pieces/PP10.htm" ID="rdf%3A#$QgItF1">Servomoteurs</A>
<DT><A HREF="http://www.shop.robotikhardware.de/shop/catalog/index.php" ID="rdf%3A#$RgItF1">robotikhardware.de - Boards, Bausätze und Bauteile für den Robotik-, Microcontroller-Bereich</A>
<DT><A HREF="http://nn.cs.utexas.edu/NERO/about.html" ID="rdf%3A#$nXAXw3">NERO</A>
<DT><A HREF="http://www.bieneelectronics.com/products/sensors.htm" ID="rdf%3A#$D0bT32">BieneRemote. Sensors. Relay, Power Supplies.</A>
<DT><A HREF="http://www.caro.lv/rus/catalog/" ID="rdf%3A#$C0bT32">CARO Electronics Ltd - Electronic Components</A>
<DT><A HREF="http://www.radiodetali.com/index.shtml" ID="rdf%3A#$R.aT32">Сеть электронных компонентов (Политекс) -- Radiodetali.com, Radiodetali.ru</A>
<DT><A HREF="http://www.genobyte.com/cbm.html" ID="rdf%3A#$j13x73">http://www.genobyte.com/cbm.html</A>
<DT><A HREF="http://neil.fraser.name/hardware/" ID="rdf%3A#$DXIRd2">Neil Fraser: Hardware</A>
<DT><A HREF="http://www.robotroom.com/" ID="rdf%3A#$Xyog42">David Cook - Robot Room - Robotics, electronics, and schematics</A>
<DD>Robot schematics, books, and circuits for mini Sumo, line following, BEAM, and electronic projects. Instructions on making robots at home. Basic help and tips on how to build robotic sensors. Homemade autonomous bots for a hobby! By David Cook.

</DL><p>
<DT><A HREF="http://cooler-online.com/" ID="rdf%3A#$5.U.d1">Cooler 19th january 2006</A>

</DL><p>
<DT><H3 ID="rdf%3A#$CYCY52">Net</H3>

<DL><p>
<DT><A HREF="http://www.googleguide.com/advanced_operators_reference.html" ID="rdf%3A#$vYCY52">Google Guide Quick Reference: Google Advanced Operators (Cheat Sheet)</A>
<DT><A HREF="http://www.insecure.org/tools.html" ID="rdf%3A#$tYCY52">Top 75 Network Security Tools</A>
<DT><A HREF="http://web.archive.org/web/*/http://arbuz.uz" ID="rdf%3A#$qYCY52">Internet Archive Wayback Machine</A>
<DT><A HREF="http://www.kayodeok.btinternet.co.uk/favorites/webdesign.htm" ID="rdf%3A#$0e02Z3">Resources For Web Design</A>
<DT><A HREF="http://uploadr.com/" ID="rdf%3A#$sEGfc2">Upload'r: URL shortening and web hosting service</A>
<DT><A HREF="http://print.google.com/" ID="rdf%3A#$9fZgq2">Google Print</A>
<DT><A HREF="http://one.lv/" ID="rdf%3A#$xunMl">one.lv</A>
<DT><A HREF="http://www.spamgourmet.com/" ID="rdf%3A#$EYCY52">spamgourmet - free disposable email addresses, spam blocker</A>
<DT><A HREF="http://project.honeynet.org/misc/project.html" ID="rdf%3A#$gdxqt1">The Honeynet Project</A>
<DT><A HREF="http://www.lucazappa.com/brilliantMaker/buttonImage.php" ID="rdf%3A#$8HrTI1">Brilliant Button Maker by LucaZappa.com</A>
<DT><A HREF="http://www.serverfiles.com/" ID="rdf%3A#$Q2hqe">Networking & Server software / hardware for Windows 2003, 2000, NT & Linux - ServerFiles.com</A>
<DT><A HREF="http://neworder.box.sk/" ID="rdf%3A#$N2WVh2">NewOrder - computer security and networking portal</A>
<DT><A HREF="http://www.epic.org/privacy/tools.html" ID="rdf%3A#$O3AoJ1">EPIC - Tools for Protecting Online Privacy</A>
<DT><A HREF="http://www.thc.org/" ID="rdf%3A#$VeNeY3">The Hacker's Choice :: THC</A>
<DT><A HREF="http://www.cisco.com/web/learning/netacad/index.html" ID="rdf%3A#$lnD9y3">Academy Connection-Training Resources - Cisco Systems</A>
<DT><A HREF="http://www.googleguide.com/advanced_operators_reference.html" ID="rdf%3A#$1bs4D">Google Guide Quick Reference: Google Advanced Operators (Cheat Sheet)</A>
<DT><A HREF="http://www.mooload.com/" ID="rdf%3A#$2n3.A2">mooload.com | Free File Hosting</A>
<DT><A HREF="http://www.networktechs.com/" ID="rdf%3A#$QnfL61">File Downloads</A>

</DL><p>
<DT><H3 ID="rdf%3A#$zYCY52">Linux</H3>

<DL><p>
<DT><A HREF="http://slax.linux-live.org/?lang=ru" ID="rdf%3A#$sYCY52">SLAX index page</A>
<DT><A HREF="http://linuxcommand.org/index.php" ID="rdf%3A#$t9Ofs2">LinuxCommand.org: Learn the Linux command line. Write shell scripts.</A>
<DT><A HREF="http://freeos.com/guides/lsst/" ID="rdf%3A#$wDtmL2">Linux Shell Scripting Tutorial - A Beginner's handbook</A>
<DT><A HREF="http://www.linuxiso.org/" ID="rdf%3A#$kVb7I">LinuxISO.org - A place to learn about, download, and discuss Linux.</A>
<DT><A HREF="http://www.brunolinux.com/" ID="rdf%3A#$Ajau03">Tips for Linux Explorers</A>
<DT><A HREF="http://cache.ubergeek.tv/fiasco2/fiasco_0.swf?cacheServer=http%3A%2F%2Fcache.ubergeek.tv%2Ffiasco2%2F" ID="rdf%3A#$JUYg82">fiasco_0.swf (объект application/x-shockwave-flash)</A>
<DT><A HREF="http://www.theopencd.org/index.php?option=com_static&staticfile=get_cd.html&Itemid=49" ID="rdf%3A#$BUdTV3">TheOpenCD.org</A>
<DT><A HREF="http://www.google.com/linux" ID="rdf%3A#$YkRbc"><Linux> - Google Search</A>
<DT><A HREF="http://www.winimage.com/bootpart.htm" ID="rdf%3A#$Q.aT32">BootPart</A>
<DT><A HREF="http://www.linuxartist.org/" ID="rdf%3A#$bYl7I1">linuxartist.org</A>
<DT><A HREF="http://www.tldp.org/LDP/abs/html/index.html" ID="rdf%3A#$kiVeY1">Advanced Bash-Scripting Guide</A>
<DT><A HREF="http://www.over-yonder.net/~fullermd/rants/bsd4linux/bsd4linux1.php" ID="rdf%3A#$.vM4a3">BSD For Linux Users :: Intro</A>

</DL><p>
<DT><H3 ID="rdf%3A#$bXAu2">Windows</H3>

<DL><p>
<DT><A HREF="http://www.ss64.com/nt/" ID="rdf%3A#$YB7EJ2">Windows XP Commands</A>
<DT><A HREF="http://www.cslu.ogi.edu/toolkit/download/index.html" ID="rdf%3A#$ggyEH1">toolkit : download</A>

</DL><p>
