* {
  font-family: Verdana;
  font-size: 12px;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

table#oContainer {
  width: 100%;
}

table#oContainer tr.top-row td {
  vertical-align: top;
  padding: 5px;
}

table#oContainer tr.bottom-row td {
  text-align: center;
  vertical-align: bottom;
  border-top: 1px solid #ccc;
  padding: 5px;
}

div#oUserController {
  width: 150px;
  padding: 10px;
  border: 1px solid #ccc;
}

div#oUserController div.label {
  margin: 3px;
}

div#oUserController button {
  width: 100px;
  margin: 3px;
}

div#oUserController select {
  width: 140px;
  margin: 3px;
}

div#oUserController textarea {
  width: 134px;
  margin: 3px;
}

div#oAnimationContainer {
  position: relative;
  width: 570px;
  height: 645px;
}

div#oAnimationContainer span.title {
  font-family: Verdana;
  font-size: 11px;
  position: absolute;
  top: 2px;
  left: 4px;
  color: #060;
}

div#oMessageBox {
  position: absolute;
  top: 0px;
  left: 130px;
  background-color: #fff;
  padding: 5px 15px;
  border: 2px solid #f88;
  white-space: nowrap;
}

div#oCpuContainer,
div#oRaidContainer,
div#oHdd1Container,
div#oHdd2Container,
div#oHdd3Container,
div#oHdd4Container {
  position: absolute;
  border: 2px solid #6a6;
  padding: 5px;
}

div#oHdd1Container.killed,
div#oHdd2Container.killed,
div#oHdd3Container.killed,
div#oHdd4Container.killed {
  border: 2px solid #f00 !important;
}

div#oHdd1Container.killed img,
div#oHdd2Container.killed img,
div#oHdd3Container.killed img,
div#oHdd4Container.killed img {
  visibility: hidden;
}

div#oCpuContainer {
  top: 0px;
  left: 0px;
  width: 105px;
}

div#oCpuContainer img {
  position: relative;
  top: 1px;
  left: 0px;
}

div#oRaidContainer {
  top: 58px;
  left: 240px;
  width: 126px;
}

div#oRaidContainer img {
  position: relative;
  top: 2px;
  left: 0px;
}

div#oHdd1Container {
  top: 232px;
  left: 40px;
  width: 105px;
}

div#oHdd2Container {
  top: 232px;
  left: 180px;
  width: 105px;
}

div#oHdd3Container {
  top: 232px;
  left: 320px;
  width: 105px;
}

div#oHdd4Container {
  top: 232px;
  left: 460px;
  width: 105px;
}

div#oHdd1Container img,
div#oHdd2Container img,
div#oHdd3Container img,
div#oHdd4Container img {
  position: relative;
  top: 4px;
  left: 1px;
}

div#oHddDataContainer {
  position: absolute;
  top: 350px;
  left: 40px;
}

div#oHddDataContainer div.row {
  width: 600px;
}

div#oHddDataContainer div.cell_info {
  float: left;
  width: 18px;
  text-align: right;
  border-right: 1px solid green;
  padding: 2px 6px 2px 0px;
}

div#oHddDataContainer div.cell_data {
  float: left;
  width: 99px;
  padding: 2px 0px 2px 6px;
  margin-right: 10px;
  font-weight: bold;
  color: green;
}

div#oHddDataContainer div.cell_data span.parity {
}

div#oHddDataContainer div.cell_data span.parity span.small {
  font-weight: normal;
  font-size: 9px;
  position: relative;
  top: 2px;
}

div#oHddDataContainer div.cell_info.highlight,
div#oHddDataContainer div.cell_data.highlight {
  color: red;
  background-color: yellow;
}

div.cable-h {
  position: absolute;
  height: 2px;
  background-color: #ccc;
}

div.cable-v {
  position: absolute;
  width: 2px;
  background-color: #ccc;
}

div.cpu-raid.highlight,
div.raid-hdd.highlight {
  background-color: #f00;
}

div#oFooter {
  width: 100%;
  position: absolute;
  bottom: 0px;
  text-align: center;
  border-top: 2px solid #ccc;
}

div#oFooter div {
  padding: 5px;
  background-color: #fff;
}
