body {
	color: #FFFFFF;
	margin:0px;
}

.sitenameText{
	font-family:"Times New Roman", Times, serif;
	font-size:30px;
	color:#52504A;
	padding-left:30px;
}

.navText{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#ffffff;
	padding-left:4px;
	font-weight:bold;
}

.headerText{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#52504A;
	padding-left:4px;
	font-weight:bold;
}
.bodyText{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	padding-left:4px;
}

.copyrightText{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#52504A;
	padding-left:4px;
	font-weight:bold;
}
.border{
	border:solid;
	border-width:1px;
	border-color:#686456;
}
