<form method="POST" action="?action=commitArticle">
{if $article}
<input type="hidden" value="{$article->id}" name="id">
{/if}
Header: <input type="text" name="header" value="{if $article}{$article->header}{else}write header here{/if}"><br>
Reader level: <input type="text" name="level" value="{if $article}{$article->level}{else}{$user->level}{/if}"><br>
Editor level: <input type="text" name="editor_level" value="{if $article}{$article->edit_level}{else}{$user->level}{/if}"><br>
Text: <br>
<textarea cols="80" rows="20" name="text">{if $article}{$article->text}{else}Type your text here...{/if}</textarea><br>
<input type="submit" value="Submit">
</form>
