<form method="POST" action="?action=sendEmail" enctype="multipart/form-data">
Attach: <input type="file" name="attach"><br>
Text: <br><textarea rows="12" cols="42" name="body"></textarea><br>
<input type="submit" value="Submit">
</form>
