<form method="POST" action="?action=login">
User: <input type="text" name="uname" size="10">&nbsp;
Password: <input type="password" name="password" size="10">&nbsp;
<input type="submit" value="Submit">
</form>
