<form action="?action=applyPersonalize" method="POST">
Text color(#XXXXX): <input type="text" value="#000000" name="text_color"><br>
Text size: <input type="text" name="text_size"><br>
Text font: <input type="text" name="text_font"><br>
<input type="submit" value="Submit">
</form>
