<form method="POST" action="?action=tryRegister">
Username: <input type="text" name="uname"><br>
Password: <input type="password" name="password"><br>
<input type="submit" value="Register!">
</form>
