<table border="1px" width="100%">
<tr>
  <th>ID</th>
  <th>Name</th>
  <th>Registration Date</th>
  <th>last seen</th>
  <th>Level</th>
  <th>Actions</th>
</tr>
{foreach from=$users item=user}
<tr>

<td>{$user->id}</td>
<td>{$user->name}</td>
<td>{$user->reg_date}</td>
<td>{$user->last_seen}</td>
<td>{$user->level}</td>

<td><a href="?action=delUser&id={$user->id}">Delete</a></td>
</tr>
{/foreach}
</table>
